<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/page.css">
    <title>About - PassNest</title>
    <link rel="icon" type="image/x-icon" href="static/image/last.png">
</head>
<body>
    <div class="header">
        <a href="/" class="company-name">PassNest</a>
        <a href="/">Back to Home</a>
    </div>
    <h1>About Us</h1>
    <p>PassNest is dedicated to providing users with top-tier password management tools and solutions. Our mission is to make password management secure and accessible to everyone.</p>
</body>
</html>
