<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - PassNest</title>
    <link rel="icon" type="image/x-icon" href="static/image/last.png">
<link rel="stylesheet" href="static/page.css">
</head>
<body>
    <div class="header">
        <a href="/" class "company-name">PassNest</a>
        <a href="/">Back to Home</a>
    </div>
    <h1>Contact Us</h1>
    <p>If you have any questions, inquiries, or need assistance, please don't hesitate to reach out to us. Our dedicated support team is here to help.</p>
    <address>
        Email: support@passnest.com
        Phone: 123-456-7890
    </address>
</body>
</html>
