<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/page.css">
    <title>Features - PassNest</title> 
  <link rel="icon" type="image/x-icon" href="static/image/last.png">

  
    <!-- Add your CSS and other resources here -->
</head>
<body>
    <!-- Your Features Page Content Goes Here -->
  <h1>Key Features</h1>
  <p>Welcome to PassNest, your trusted password management solution. At PassNest, we are dedicated to providing you with top-tier features that prioritize your security and convenience. Our goal is to make your online life more secure and manageable.</p>

  <p>Discover the following features that make PassNest your ideal choice:</p>

  <ul>
      <li><i class="fas fa-lock"></i> Secure Sign-up and Log In: Protect your account with our robust authentication system and email verification.</li>
      <li><i class="fas fa-key"></i> Effortless Password Management: Easily add, view, search, and delete your saved passwords, all securely stored in the cloud.</li>
      <li><i class="fas fa-envelope"></i> Password Recovery Made Simple: If you forget your password, our quick password reset email will get you back on track.</li>
  </ul>

  <p>Experience end-to-end encryption, two-factor authentication, seamless integration with various platforms, and 24/7 support. Your data is always encrypted, ensuring maximum security during data transfer and storage. With PassNest, your passwords are in safe hands.</p>

</body>
</html>
