<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - PassNest</title>
    <link rel="icon" type="image/x-icon" href="static/image/last.png">
<link rel="stylesheet" href="static/page.css">
</head>
<body>
    <div class="header">
        <a href="/" class="company-name">PassNest</a>
        <a href="/">Back to Home</a>
    </div>
    <h1>Privacy Policy</h1>
    <p>Our privacy policy is designed to explain how we handle your data and ensure your privacy and security when using PassNest. Here are some key points:</p>
    <ul>
        <li>All your data is encrypted for maximum security.</li>
        <li>We do not share your personal information with third parties.</li>
        <li>We adhere to industry-standard security practices to protect your data.</li>
    </ul>
</body>
</html>
