<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service - PassNest</title>
  <link rel="icon" type="image/x-icon" href="static/image/last.png">
<link rel="stylesheet" href="static/page.css">
<link rel="stylesheet" href="static/page.css">
</head>
<body>
    <div class="header">
        <a href="/" class="company-name">PassNest</a>
        <a href="/">Back to Home</a>
    </div>
    <h1>Terms of Service</h1>
    <p>Before using PassNest, please take a moment to read our terms of service. It's important to understand the terms and conditions that govern your use of our service:</p>
    <ul>
        <li>You must agree to our terms to use PassNest.</li>
        <li>We reserve the right to make changes to the terms as needed.</li>
        <li>Your use of PassNest is subject to compliance with these terms.</li>
    </ul>
</body>
</html>
